<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'css/login.css' %}" media="all" rel="stylesheet" type="text/css">
    <title>注册</title>
</head>
<body class="bg">
<div id="bigBox">
    <h1 style="color: #009688">药品管理系统</h1>
    <h2 style="color: white">创建用户</h2>
    <div class="inputBox">
        <form action="/create/" method="POST">
            <p style="color:red">{{ exist_user }}</p>
            <div class="inputText">
                <input name="username" placeholder="用户名" type="text">
            </div>
            <div class="inputText">
                <input name="password" placeholder="密码" type="password">
            </div>
            <div class="inputText"><span style="color: white">权限</span>
                <select name="root">
                    <option value="1">TS</option>
                    <option value="2">S</option>
                    <option value="1">C</option>
                    <option value="2">P</option>
                </select>
            </div>
            <p style="display:none"><input name="root2" type="text" value="TS"></p>
            <p><input class="inputButton" type="submit" value="注册" style="cursor:pointer"></p>
            <a class="inputButton" href="/show-shop/?root=TS">返回</a>
        </form>
    </div>
</div>
</body>
</html>