<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'css/login.css' %}" media="all" rel="stylesheet" type="text/css">
    <title>Movee的药品管理系统</title>
</head>
<body class="bg">
<div id="bigBox" style="height: 450px">
    <h1 style="color: #009688">欢迎来到药品管理系统</h1>
    <span style="color: red"><a href="/login/" style="width:auto;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);font-size: xxx-large">点击进入</a></span>
</div>
</body>
</html>